
//have some problem , use the important as a temporary approach
//--------------------------------------------------------------
.el-input--number{
  .el_input__inner{
    text-align:center;
  }
}

.el-input--suffix{
  .el_input__inner{
    padding-right:20px !important;
  }
}
.el-input--prefix{
  .el_input__inner{
    padding-left:20px !important;
  }
}
.is-small {
  .el-input__prefix,.el-input__suffix{
    line-height: @input-small-height;
  }
  .el_input__inner{
    position: relative;
    height: @input-small-height !important;
    line-height: @input-small-height !important;
    bottom:@input-small-height + 3px;
  }
}
.is-mini {
  .el-input__prefix,.el-input__suffix{
    line-height: @input-mini-height;
  }
  .el_input__inner{
    position: relative;
    height: @input-mini-height !important;
    line-height: @input-mini-height !important;
    bottom:@input-mini-height + 4px;
  }

}
.is-medium{
  .el-input__prefix,.el-input__suffix{
    line-height: @input-medium-height;
  }
  .el_input__inner{
    position: relative;
    height: @input-medium-height !important;
    line-height: @input-medium-height !important;
    bottom:@input-medium-height;
  }

}

.is-normal {
  .el-input__prefix,.el-input__suffix{
    line-height: @input-height;
  }
  .el_input__inner{
    position: relative;
    height: @input-height !important;
    bottom:@input-height;
  }
}


.el-input--small {
  font-size: @input-small-font-size !important;
}


.el-input--small .el-input__icon {
  line-height: @input-small-height !important;
}

.el-input--medium {
  font-size: @input-medium-font-size !important;
}

.el-input--medium{
  height: @input-medium-height !important;
}

.el-input--medium .el-input__icon{
  line-height: @input-medium-height !important;
}

.el-input--mini {
  font-size: @input-mini-font-size !important;
}

.el-input--mini {
  height: @input-mini-height !important;
}

.el-input--mini .el-input__icon {
  line-height: @input-mini-height !important;
}

//--------------------------------------------------------------

.el-input__inner__suffix{
  position: absolute;
  height: 100%;
  right: 5px;
  top: 0;
  text-align: center;
  color: @input-icon-color;
  transition: all .3s;
  pointer-events: none;
}

.el-input__inner__suffix-inner{
  pointer-events: all;
}

.el-input__inner__prefix{
  position: absolute;
  height: 100%;
  left: 5px;
  top: 0;
  text-align: center;
  color: @input-icon-color;
  transition: all .3s;
}


.el_textarea__inner{
  display: block;
  resize: vertical;
  padding: 5px 15px;
  line-height: 1.5;
  box-sizing: border-box;
  width: 100%;
  font-size: inherit;
  color: @input-color;
  background-color: @input-fill;
  background-image: none;
  border: @input-border;
  border-radius: @input-border-radius;
  transition: @border-transition-base;
  &::placeholder {
    color: @input-placeholder-color;
  }

  &:hover {
    border-color:@input-hover-border;
  }

  &:focus {
    outline: none;
    border-color:@input-focus-border;
  }

  &:disabled {
    background-color: @input-disabled-fill;
    border-color: @input-disabled-border;
    color: @input-disabled-color;
    cursor: not-allowed;
    &::placeholder {
      color:@input-disabled-placeholder-color;
    }
  }
}

/** disalbe default clear on IE */
.el-input__inner::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.el_input--prefix .el-input__inner {
    position:relative;
    left:50px;
}

.el-input__prefix,.el-input__suffix {
  z-index: 11;
  max-width:30px;
  position: relative;
  -webkit-transition: all .3s;
  text-align: center;
  height: 100%;
  color: #b4bccc
}

.el-input__suffix {
  float: right;
}

.el-input{
  position: relative;
  font-size: @font-size-base;
  display: inline-block;
  width: 100%;
  z-index: 10;
  .el_input__inner{
    z-index: 10;
    -webkit-appearance: none;
    background-color: @input-fill;
    background-image: none;
    border-radius: @input-border-radius;
    border: @input-border;
    box-sizing: border-box;
    color: @input-color;
    display: inline-block;
    font-size: inherit;
    height: @input-height;
    line-height: @input-height;
    outline: none;
    padding: 0 15px;
    transition: @border-transition-base;
    width: 100%;

    &::placeholder {
      color: @input-placeholder-color;
    }

    &:hover {
      border-color: @input-hover-border;
    }

    &:focus {
      outline: none;
      border-color: @input-focus-border;
    }

    &:disabled{
      background-color: @input-disabled-fill;
      border-color: @input-disabled-border;
      color: @input-disabled-color;
      cursor: not-allowed;
      &::placeholder{
        color:@input-disabled-placeholder-color;
      }
      .el-input__icon{
        cursor:not-allowed;
      }
    }

  }

}


//
.el-input__icon {
  height: 100%;
  width: 25px;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  line-height: 40px
}

.el-input__icon:after {
  content: '';
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle
}
